################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Condor WP plugin.sln
/Condor WP plugin.phpproj.user
/Condor WP plugin.phpproj